[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
deprecated = "*"
idna = "*"
requests = "*"
urllib3 = "*"
wrapt = "*"
PyGithub = "*"
PyJWT = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
